<!--The content below is only a placeholder and can be replaced.-->
<ng-container *ngIf="state$ | async as state">

  <div style="width: 40vw; float: left">
    <form [formGroup]="commandFormGroup">
      Command <input type="text" formControlName="command"/>
      <button [disabled]="!state.command" (click)="execute(state.command)">Execute</button>

      <div>
        Currently Running:
        <br>
        <br>
        <br>
        Exit Code: null
        <pre
          style="border: 1px solid #666; padding: 20px;"><code></code></pre>
      </div>
    </form>
  </div>
  <div style="width: 50vw; float: left">
    <pre>{{state | json}}</pre>
  </div>
</ng-container>

<router-outlet></router-outlet>
